eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost

microservice:
  customer-service:
    endpoints:
      endpoint:
        uri: CUSTOMER-SERVICE
      operation: 
        uri: customer/order
  shipping-service:
    endpoints:
      endpoint:
        uri: SHIPPING-SERVICE
      operation:
        uri: shipping/shipOrder
